[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/supegate
[access "refs/for/refs/*"]
	read = group user/supegate
	push = group user/supegate
	label-Code-Review = -2..+2 group user/supegate
	label-Verified = -1..+1 group user/supegate
	rebase = group user/supegate
	removeReviewer = group user/supegate
	submit = group user/supegate
[access "refs/heads/*"]
	read = group user/supegate
	create = group user/supegate
	push = +force group user/supegate
	pushMerge = group user/supegate
[access "refs/tags/*"]
	push = +force group user/supegate
	pushTag = group user/supegate
	pushSignedTag = group user/supegate
